@font-face {
  font-family: "RokhBold";
  src: url("../../webfonts/Rokh-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RokhSemiBold";
  src: url("../../webfonts/Rokh-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RokhFaNum";
  src: url("../../webfonts/RokhFaNum-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RokhFaNumultrabold";
  src: url("../../webfonts/RokhFaNum-UltraBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RokhFaNumbold";
  src: url("../../webfonts/RokhFaNum-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RokhBold";
  src: url("../../webfonts/Rokh-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RokhSemiBold";
  src: url("../../webfonts/Rokh-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RokhFaNum";
  src: url("../../webfonts/RokhFaNum-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RokhFaNumultrabold";
  src: url("../../webfonts/RokhFaNum-UltraBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RokhFaNumbold";
  src: url("../../webfonts/RokhFaNum-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body,
html {
  height: 900px;
  font-family: "RokhBold";
  margin: 0 auto;
  padding: 0;
  margin-bottom: 10px;
  background-color: #fafaff;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F3F6FB;
  width: 393px;
  height: 970px;
  margin-top: 10px;
}

.container {
  max-width: 375px;
  margin: auto;
}
.container nav {
  width: 375px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container nav p {
  width: 50px;
  height: 20px;
  font-size: 16px;
  font-family: "RokhSemiBold";
  color: #000000;
}
.container nav .header__icon--right {
  border: 1px solid rgba(222, 223, 234, 0.3490196078);
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin-right: 1px;
}
.container nav .header__icon--right i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9px;
  margin-right: 6px;
  font-size: 20px;
}
.container nav .header__icon--left {
  border: 1px solid rgba(222, 223, 234, 0.3490196078);
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin-right: 1px;
}
.container nav .header__icon--left i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  margin-right: 8px;
  font-size: 30px;
}
.container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  font-size: 0.9rem;
  color: #333;
}
.container header .icon__right {
  border: 1px solid rgba(222, 223, 234, 0.3490196078);
  background-color: #ffffff;
  width: 80px;
  height: 80px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container header .icon__right img {
  width: 48px;
  height: 48px;
}
.container header .heaader__image {
  display: flex;
  width: 119px;
  height: 33px;
  margin-left: 10px;
}
.container header .heaader__image .header__description {
  padding-top: 10px;
  margin-left: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container header .heaader__image .header__description p {
  margin: 0;
  padding: 0;
  line-height: 1;
}
.container header .heaader__image .header__description .header__description--title {
  width: 75px;
  font-size: 14px;
  font-family: "RokhSemiBold";
  padding-right: 2px;
}
.container header .heaader__image .header__description .header__description--subtitle {
  width: 100px;
  font-size: 12px;
  font-family: "RokhSemiBold";
  color: rgba(0, 0, 0, 0.5019607843);
}
.container header .icon__left {
  border: 1px solid rgba(222, 223, 234, 0.3490196078);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.container header i {
  width: 24px;
  height: 24px;
  font-size: 25px;
}
.container .card {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  width: 360px;
  height: 116px;
  margin-top: 20px;
}
.container .card__image {
  position: absolute;
  top: 340px;
}
.container .card__image img {
  width: 340px;
  margin-right: 10px;
}
.container .card__itemfirst {
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 80px;
  margin-right: 10px;
}
.container .card__itemfirst .right {
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.container .card__itemfirst .right i {
  width: 24px;
  height: 24px;
  font-size: 24px;
}
.container .card__itemfirst .right p {
  font-family: "RokhSemiBold";
  font-size: 14px;
  color: #000000;
}
.container .card__itemfirst .left {
  font-size: 10px;
}
.container .card__itemfirst .left p {
  font-family: "RokhSemiBold";
  font-size: 14px;
  color: #006fff;
}
.container .card__itemsecond {
  position: absolute;
  top: 360px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 340px;
}
.container .card__itemsecond .card__itemsecondright {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  gap: 8px;
}
.container .card__itemsecond .card__itemsecondright i {
  width: 24px;
  height: 24px;
  font-size: 24px;
}
.container .card__itemsecond .card__itemsecondright p {
  font-family: "RokhSemiBold";
  font-size: 14px;
  color: #000000;
}
.container .card__itemsecond .left {
  font-size: 10px;
}
.container .card__itemsecond .left p {
  font-family: "RokhSemiBold";
  font-size: 14px;
  color: #000000;
}
.container .label {
  width: 345px;
  font-family: "RokhBold";
  font-size: 16px;
  display: flex;
  margin-right: 10px;
  margin-top: 40px;
}

.label__social {
  width: 345px;
  font-family: "RokhBold";
  font-size: 16px;
  display: flex;
  margin-right: 10px;
  margin-top: 40px;
}

.social {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  width: 400px;
  height: 116px;
  margin-top: 20px;
}
.social .social--first {
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 80px;
  padding-left: 80px;
}
.social .social--first .social--right {
  width: 170px;
  display: flex;
  justify-content: first baseline;
  padding-right: 20px;
  align-items: center;
  gap: 5px;
}
.social .social--first .social--right i {
  width: 24px;
  height: 24px;
  font-size: 24px;
}
.social .social--first .social--right p {
  font-family: "RokhSemiBold";
  font-size: 14px;
  color: #000000;
}
.social .social--first .social--left {
  font-size: 10px;
}
.social .social--image {
  position: absolute;
  width: 350px;
  top: 590px;
  margin-right: 10px;
}
.social .social--itemsecond {
  position: absolute;
  top: 610px;
  margin-right: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 340px;
}
.social .social--itemsecond .social--itemsecondright {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  gap: 8px;
}
.social .social--itemsecond .social--itemsecondright i {
  width: 24px;
  height: 24px;
  font-size: 24px;
}
.social .social--itemsecond .social--itemsecondright p {
  font-family: "RokhSemiBold";
  font-size: 14px;
  color: #000000;
}
.social .social--itemsecond .social--left {
  font-size: 10px;
}

.address {
  max-width: 750px;
  margin: 20px auto;
}
.address .address__title {
  display: flex;
  padding: 4px;
  font-size: 16;
  font-family: "RokhBold";
  margin-bottom: 20px;
  color: #000000;
}

.card {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.card .card__content {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
}
.card .card__content .icon {
  background-color: #F5BC40;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .card__content .icon i {
  width: 24px;
  height: 24px;
  font-size: 26px;
  color: #ffffff;
}
.card .card__content .address__text {
  font-family: "RokhSemiBold";
  font-size: 14px;
  color: #000000;
}
.card .edit__button {
  background-color: #00CC99;
  color: #ffffff;
  width: 130px;
  height: 36px;
  border: none;
  padding: 10px 20px;
  font-family: "RokhBold";
  font-size: 12px;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background 0.3s ease;
}
.card .edit__button:hover {
  background-color: #00a978;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  border-top: 1px solid #ffffff;
  width: 400px;
  height: 70px;
  border-radius: 12px;
  margin-top: 20px;
}
footer .footer__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5019607843);
  font-size: 12px;
  font-family: "RokhSemiBold";
  margin-top: 15px;
  gap: 10px;
}
footer .footer__item i {
  width: 24px;
  height: 24px;
  font-size: 22px;
  color: #000000;
}
footer .footer__item span {
  font-size: 12px;
  font-size: 12px;
  font-family: "RokhSemiBold";
  color: rgba(0, 0, 0, 0.5019607843);
}

@media (min-width: 481px) and (max-width: 768px) {
  html,
  body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 1rem;
  }
  .container {
    max-width: 100%;
    padding: 0 1rem;
  }
  .container header {
    flex-direction: row;
  }
  .container header .heaader__image {
    width: auto;
    height: auto;
  }
  .container header .heaader__image img {
    width: 40px;
    height: 40px;
  }
  .container header .heaader__image .header__description .header__description--title {
    font-size: 16px;
  }
  .container header .heaader__image .header__description .header__description--subtitle {
    font-size: 14px;
  }
  .container header p {
    font-size: 13px;
  }
  footer {
    width: 425px;
    height: auto;
    flex-wrap: nowrap;
    padding: 1rem 0;
    justify-content: space-evenly;
    padding: 5 18px;
    gap: 20px;
  }
  footer .footer__item {
    margin-top: 0;
    gap: 5px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .card {
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    width: 90%;
    max-width: 500px;
    height: auto;
    margin: 20px auto;
    padding: 16px;
    position: relative;
  }
  .card__image img {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
  }
  .card__itemfirst {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .card__itemfirst .right {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .card__itemfirst .right i {
    font-size: 24px;
  }
  .card__itemfirst .right p {
    font-family: "RokhSemiBold";
    font-size: 14px;
    color: #000000;
  }
  .card__itemfirst .left p {
    font-family: "RokhSemiBold";
    font-size: 14px;
    color: #006fff;
  }
  .card__itemsecond {
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .card__itemsecond .card__itemsecondright {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .card__itemsecond .card__itemsecondright i {
    font-size: 24px;
  }
  .card__itemsecond .card__itemsecondright p {
    font-family: "RokhSemiBold";
    font-size: 14px;
    color: #000000;
  }
  .card__itemsecond .left p {
    font-family: "RokhSemiBold";
    font-size: 14px;
    color: #000000;
  }
  .label {
    width: 100%;
    font-family: "RokhBold";
    font-size: 16px;
    margin-top: 24px;
    text-align: right;
  }
}

/*# sourceMappingURL=About%20us%20.css.map */
