@font-face {
  font-family: 'RokhBold';
  src: url('../../webfonts/Rokh-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RokhSemiBold';
  src: url('../../webfonts/Rokh-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
