$bgColor: #fafaff;
$primaryColor: #ff395c;
$grayColor1: #dedfea;
$whiteColor: #ffffff;
$blockColor: #000000;
$grayColor2: #dedfea59;
$blackColor2: #00000080;
$blueColor: #006fff;
$bgColorHome:#F3F6FB;
$bgColorIcon:#DEDFEA80;
$secondaryColor:#EBC886;
$blockColor3:#000000CC;
$greencolor:#47966F;
$AcsentColor:#F5BC40;
$primary-color: #28a745;
$grayColor3:#E7E7E7;
$greenColor2:#00CC99;
